<table class="table">
	<thead>
		<tr>
			<th>栏目1</th>
			<th>栏目2</th>
			<th>栏目3</th>
			<th>栏目4</th>
			<th>栏目5</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td>5</td>
		</tr>
		<tr>
			<td>11</td>
			<td>21</td>
			<td>31</td>
			<td>41</td>
			<td>51</td>
		</tr>
	</tbody>
</table>
<nav>
	<ul class="pagination">
		<li><a href="#" aria-label="Previous"> <span
				aria-hidden="true">&laquo;</span>
		</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
</nav>
<button type="button" class="btn btn-primary">${test}</button>