<img class="logo" src="#springUrl('/images/logo.png')" />
<label class="logo-title">通用后台模板</label>
<ul class="inline">
	<li><img src="#springUrl('/images/32/client.png')" />&nbsp;&nbsp;欢迎您,Admin
	</li>
	<li class="dropdown"><a class="dropdown-toggle mymsg"
		data-toggle="dropdown" href="#"><img
			src="#springUrl('/images/32/166.png')" />&nbsp;&nbsp;修改个人信息<b
			class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">修改密码</a></li>
		</ul></li>
	<li><img src="#springUrl('/images/32/200.png')" />&nbsp;&nbsp;<a
		class="loginout" href="#">退出</a></li>
</ul>