<div class="span2 content-left">
                <div class="accordion">
                #foreach($parent in $parentRes)
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#$!{parent.resCode}">
                                <img class="left-icon" src="#springUrl('/images/32/5026_settings.png')" /><span class="left-title">$!{parent.resTitle}</span>
                            </a>
                        </div>
                        <div id="$!{parent.resCode}" class="accordion-body collapse in">
                        #foreach($child in $childRes)
                        	#if($!{child.parentResCode} == $!{parent.resCode})
                            <div class="accordion-inner">
                                <img class="left-icon-child" src="#springUrl('/images/32/4962_sitemap.png')" />
                                	<span class="left-body">
                                		<a href="#springUrl(${child.resUrl})">$!{child.resTitle}</a>
                                	</span>
                            </div>
                            #end
                        #end
                        </div>
                    </div>
               #end
                </div>
            </div>